/*Configuraciones básicas*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    display: flex;
    font-family: 'Coiny', cursive;
    font-size: 36px;
    justify-content: center;   
}