html {
    background-color: rgb(91, 214, 33);
  }
  
  .nombre {
    font-size: 2rem;
    color: rgb(0, 26, 255);
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: left;
  }
  
  .luo {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0.5rem 2rem 1rem 1rem;
    border: solid 0.01rem black;
    width: 1rem;
    height: 1rem;
  }
  
  .home {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 0.5rem 0 1rem 12rem;
    width: 1rem;
    height: 1rem;
    border: solid 0.01rem black;
  }
  
  .homeimg {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.1rem;
  }
  
  .quiens {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0.5rem 2rem 1rem 14rem;
    width: 1rem;
    height: 1rem;
    border: solid 0.01rem black;
  }
  
  .ig {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0.5rem 2rem 1rem 16rem;
    width: 1rem;
    height: 1rem;
    border: solid 0.01rem black;
  }
  
  .kar {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0.5rem 2rem 1rem 18rem;
    width: 1rem;
    height: 1rem;
    border: solid 0.01rem black;
  }
  
  .imgin {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
  }
  
  .imagenn {
    width: 4.5rem;
    height: auto;
    margin-right: 0.5rem;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    margin-top: 2rem;
    margin-left: 0.4rem;
    border: solid 0.01rem black;
  }
  
  .menu button {
    flex: 1;
    height: 2rem;
    border: solid 0.05rem black;
    margin: 1.5rem 0.4rem;
    color: wheat;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .menn {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .pie {
    width: 100%;
    background-color: gray;
    border: solid black 0.05rem;
    margin-top: 1rem;
    font-size: 0.5rem;
    padding: 0.5rem;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .nombre {
      font-size: 1rem;
      margin-left: 3rem;
    }
  
    .luo {
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
      }

    .home {
        margin-left: 3rem;
        width: 1rem;
        height: 1rem;
      }

    .quiens {
        margin-left: 4.5rem;
        width: 1rem;
        height: 1rem;
      }

    .ig {
        margin-left: 6rem;
        width: 1rem;
        height: 1rem;
      }

    .kar {
        margin-left: 7.5rem;
      width: 1rem;
      height: 1rem;
    }
  
    .imgin {
      margin-top: 3rem;
      margin-left: 0.1rem;
      width: 9rem;
     
    }
  
    .menu {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    .menu button {
      width: 80%;
      margin: 0.5rem;
    }
  
    .menn {
      font-size: 0.7rem;
    }
  
    .pie {
      font-size: 1rem;
      margin-left: 0.5rem;
      width: 9rem;
      height: 5rem;
      background-color: aqua;
    }
  }
  