.tapaderas{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px; 
  }
  .titulo{
    margin-top: 2rem;
    margin-left: 8rem;
  }
  .item {
    width: 24rem;
    height: 10rem; 
    margin: 10px;
    margin-top: 2rem;
    background-color: rgb(170, 187, 245); 
    border-radius: 2.5rem;
  }
  .nombres{ /*NOMBRES DE CADA RECETA*/
    font-size: 0.7rem;
    margin-left: 8rem;
    margin-top: -6rem;
    text-align: center;
  }
  .descripcion{
    font-size: 0.6rem;
    margin-left: 10rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    text-align: justify;

  }
  .precios{
    font-size: 0.6rem;
    margin-left: 10rem;
    margin-right: 0.5rem;
  }
  .marcas{
    font-size: 0.6rem;
    margin-left: 10rem;
    margin-right: 0.5rem;
  }
  .imagenes_re{ /*imagen de cada receta*/
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }
  .home{
    display: flex;
    flex-direction: row;
    margin: -3rem 0 1rem 50rem;
    width: 15rem;
    height: 1rem;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 5px;
    width: 300px;
}

button {
    padding: 5px 10px;
}

#results-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.result-item {
    margin-bottom: 10px;
}

.result-item h3 {
    margin: 0;
}

.result-item p {
    margin: 5px 0;
}



  @media screen and (max-width: 768px) {
    .titulo{
      margin-left: 2rem;
      font-size: 1rem;
      margin-top: 2rem;
    }
    .item {
      
      width: 10rem;
      height: 5rem; 
      margin: 10px;
      margin-left: 0.1rem;
      background-color: rgb(170, 187, 245); 
      border-radius: 1.5rem;
    }
    .nombres{ /*NOMBRES DE CADA RECETA*/
      font-size: 0.3rem;
      margin-left: 5rem;
      margin-top: -4rem;
      text-align: center;
    }
    .descripcion{
      font-size: 0.3rem;
      margin-left:6rem;
      margin-right: 0.5rem;
      margin-top: 0.3rem;
      text-align: justify;
  
    }
    .precios{
      font-size: 0.3rem;
      margin-left: 6rem;
      margin-right: 0.5rem;
    }
    .marcas{
      font-size: 0.3rem;
      margin-left: 6rem;
      margin-right: 0.5rem;
    }
    .imagenes_re{ /*imagen de cada receta*/
      width: 4rem;
      height: 4rem;
      margin-left: 1rem;
      border-radius: 1rem;
      margin-top: 0.5rem;
    }
  
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
 
